@font-face {
    font-family: '"Lucida Sans Unicode", "Lucida Grande", sans-serif';
    font-style: normal;
    font-weight: 400;
    src: local("Didact Gothic Regular"), local("DidactGothic-Regular"),
        url(fonts/DidactGothic-Regular.otf) format("opentype");
}
